html {
  overflow-y: scroll;
}

body {
  padding: 50px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.4vw;
}

@media (min-width: 768px) {
  .col-sm-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-1-5 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-1-5 {
    width: 20%;
    float: left;
  }
}

a {
  color: #297ACC;
}

a:hover {
  color: #1F5C99;
  text-decoration: none;
}

label {
  font-weight: 300;
}

.member-list {
  margin: 20px 0;
}

.btn {
  border: none;
  border-radius: 0;
  width: 100%;
}

.btn:hover {
  background-color: #5CADFF;
}

.btn-xl {
  margin: 18px 28px;
  width: 300px;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn-member {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.member-photo {
  width: 100px;
  height: 100px;
  float: left;
}

.member-info {
  padding: 5px 0 5px 10px;
  float: left;
  text-align: left;
}

.member-name {
  font-weight: bold;
}

.client-org-logo-welcome {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
}

.client-org-logo-directory {
  margin-top: 50px;
  margin-bottom: 20px;
  width: 50%;
}

.client-welcome {
  margin-top: 30px;
}

.client-blue {
  color: #1F5C99;
}

.client-huge {
  font-size: 4vw;
  font-weight: 700;
}

.client-large {
  font-size: 2.5vw;
}

.client-medium {
  font-size: 2vw;
}

.client-small {
  font-size: 1.5vw;
}

.client-app-logo {
  margin-top: -40px;
  width: 75%;
}

.client-directory {
  margin-top: 50px;
}

.client-ping {
  margin-top: 50px;
  padding-top: 30px;
  padding-bottom: 50px;
  background-color: #E6E6E6;
}

.client-ping-form {
  padding-top: 50px;
}

.client-ping-avatar {
  margin-top: 20px;
  width: 75%;
}

.client-ping-submit {
  margin-top: 30px;
}

.client-avatar {
  width: 90%;
}

.client-avatar-footer {
  background-color: #E6E6E6;
  width: 90%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.client-avatar-name {
  font-weight: 700;
  font-size: 1.4vw;
  margin-top: 5px;
  margin-bottom: 0;
}

.client-avatar-position {
  font-size: 1.4vw;
  margin-top: 0;
  margin-bottom: 5px;
}

.client-contact {
  margin-bottom: 30px;
}

.test {
  border: solid 1px #000;
}

.warning-label {
  color: #a94442;
  display: block;
  font-size: 0.7em;
}
