html {
  overflow-y: scroll;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.member-list {
  margin: 20px 0;
}

.btn-xl {
  padding: 18px 28px;
  width: 300px;
  font-size: 18px;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.btn-member {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.member-photo {
  width: 100px;
  height: 100px;
  float: left;
}

.member-info {
  padding: 5px 0 5px 10px;
  float: left;
  text-align: left;
}

.member-name {
  font-weight: bold;
}

.client-org-logo {
  margin-top: 50px;
  height: 200px;
}

.client-welcome {
  margin-top: 30px;
}

.client-directory {
  margin-top: 50px;
}

.client-avatar {
  width: 80%;
}

.client-avatar-footer {
  background-color: #E6E6E6;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.client-avatar-name {
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}

.client-avatar-position {
  margin-top: 5px;
  margin-bottom: 5px;
}

.client-contact {
  margin-bottom: 30px;
}

.test {
  border: solid 1px #000;
  /*height: 100px;*/
}